ro-subsystem/ro-subsystem-support/src/main/java/org/seadva/data/lifecycle/support/model/event.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="events">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="eventIdentifier" type="xs:string"/>
      <xs:element name="workflow_id" type="xs:string"/>
      <xs:element name="targetId" type="xs:string"/>
      <xs:element name="eventDateTime" type="xs:dateTime"/>
      <xs:element name="eventType" type="events"/>
      <xs:element name="linkingAgentIdentifier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

